

.page.theme_dark {
  --main-bg-color:#000028;
  --main-text-color:#F1B2CE;
  --main-accent-text-color:#000028;
  --accent-color:#FF0070;
  --nav-color:#FF0070;
--main-heading-color:#000028;
--section-heading-color:#FF0070;
--header-logo-color:#DB00FF;
--footer-logo-color:#DB00FF;
background-image: url(../images/cover-image-dark.png);
}


@media (prefers-color-scheme: dark){
 :root{
  --main-bg-color:#000028;
    --section-heading-color:#FF0070;
--accent-color:#FF0070;
  --main-text-color:#F1B2CE;
  --nav-color:#FF0070;
  --footer-logo-color:#DB00FF;
  --header-logo-color:#DB00FF;
  
 }
}