.page.theme_dark {
  --main-bg-color: #000028;
  --main-text-color: #f1b2ce;
  --main-accent-text-color: #000028;
  --accent-color: #ff0070;
  --nav-color: #ff0070;
  --main-heading-color: #000028;
  --section-heading-color: #ff0070;
  --header-logo-color: #db00ff;
  --footer-logo-color: #db00ff;
  background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #000028;
    --section-heading-color: #ff0070;
    --accent-color: #ff0070;
    --main-text-color: #f1b2ce;
    --nav-color: #ff0070;
    --footer-logo-color: #db00ff;
    --header-logo-color: #db00ff;
  }
}
